## Voron Design VORON2 250/300/350mm SKR 1.4 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths					[mcu] section
## Thermistor types				[extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location			[homing_override] section
## Z Endstop Switch  offset for Z0		[stepper_z] section
## Probe points					[quad_gantry_level] section
## Min & Max gantry corner postions		[quad_gantry_level] section
## PID tune					[extruder] and [heater_bed] sections
## Fine tune E steps				[extruder] section

##========================== Pin Definitions ========================
## X_STEP_PIN         2.2
## X_DIR_PIN          2.6
## X_ENABLE_PIN       2.1
## X_STOP_PIN         1.29
## E0_DET_PIN         1.26
## X_UART_PIN         1.10


## Y_STEP_PIN         0.19
## Y_DIR_PIN          0.20
## Y_ENABLE_PIN       2.8
## Y_STOP_PIN         1.28
## E1_DET_PIN         1.26
## Y_UART_RX          1.9


## Z_STEP_PIN         0.22
## Z_DIR_PIN          2.11
## Z_ENABLE_PIN       0.21
## Z_STOP_PIN         1.27
## PWR_DET_PIN        1.0
## Z_UART             1.8


## E0_STEP_PIN        2.13
## E0_DIR_PIN         0.11
## E0_ENABLE_PIN      2.12
## E0_UART            1.4


## E1_STEP_PIN        1.15
## E1_DIR_PIN         1.14
## E1_ENABLE_PIN      1.16
## E1_UART_RX         1.1


## HE1                2.4    
## HE0                2.7
## BED                2.5
## TH1 (H1 Temp)      0.23
## TH0 (H0 Temp)      0.24
## TB  (Bed Temp)     0.25
## FAN                2.3
## SERVO              2.0
## PROBE			  0.10
##===================================================================

[mcu]
##	MCU for X/Y/E steppers main MCU
##	[X in X] - B Motor
##	[Y in Y] - A Motor
##	[E in E0] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-path/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0E400016871C4AAFEF5B7C5DC02000F5-if00
##--------------------------------------------------------------------

[mcu z]
##	MCU for Z steppers
##	[Z in X] - Front Left
##	[Z1 in Y] - Rear Left
##	[Z2 in Z] - Rear Right
##	[Z3 in E0]- Front Right
##	Obtain definition by "ls -l /dev/serial/by-path/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1690000A28813AAF967B6A5CC12000F5-if00
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300  
#max_accel: 7000    			#Testing accel
#max_accel_to_decel: 7000		#Testing accel
max_accel: 4000    			#Max 4000

max_z_velocity: 30 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350   			#Max ?
square_corner_velocity: 5.0  #Can experiment with 8.0, default 5.0

[virtual_sdcard]
path: ~/klipper_sdcard
#   The path of the local directory on the host machine to look for
#   g-code files. This is a read-only directory (sdcard file writes
#   are not supported). One may point this to OctoPrint's upload
#   directory (generally ~/.octoprint/uploads/ ). This parameter must
#   be provided.

[temperature_sensor RPI_Cpu]
sensor_type: rpi_temperature
gcode_id: R

[temperature_sensor Eletronics_Bay]
sensor_pin: P0.24
sensor_type: NTC 100K beta 3950
gcode_id: E

[temperature_fan Chamber]
pin: z:P2.7
sensor_pin: z:P0.23
sensor_type: NTC 100K beta 3950
gcode_id: C
max_speed: 1.0
min_speed: 0.15
control: pid # alternatively watermark can be used
pid_Kp: 40
pid_Ki: 0.2
pid_Kd: 0.1
min_temp: 0
max_temp: 100
target_temp: 60

[pause_resume]
recover_velocity: 50.0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X on mcu_xye (B Motor)
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
#step_distance: 0.0125
step_distance: 0.00625
endstop_pin: P1.29
position_min: -1
##--------------------------------------------------------------------

position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 50   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: P1.10
microsteps: 16
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
##	Connected to Y on mcu_xye (A Motor)
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
#step_distance: 0.0125
step_distance: 0.00625
endstop_pin: P1.28
position_min: 0
##--------------------------------------------------------------------

position_endstop: 305.5
position_max: 305.5

##--------------------------------------------------------------------
homing_speed: 50  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: P1.9
microsteps: 16
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z MCU - In X Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: z:P2.2
dir_pin: z:P2.6
enable_pin: !z:P2.1
step_distance: 0.00250
#endstop_pin: z:P1.27
#position_endstop = 0.215

## Virtual Z Endstop
##-------------------------------------------------------------------------------
endstop_pin: probe:z_virtual_endstop

position_max: 275
position_min: -5
homing_speed: 10.0
second_homing_speed: 4.0
homing_retract_dist: 5.0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: z:P1.10
microsteps: 16
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In Y Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: z:P0.19
dir_pin: !z:P0.20
enable_pin: !z:P2.8
step_distance: 0.00250

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: z:P1.9
microsteps: 16
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In Z Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: z:P0.22
dir_pin: z:P2.11
enable_pin: !z:P0.21
step_distance: 0.00250

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: z:P1.8
microsteps: 16
interpolate: true
run_current: 0.8
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In E0 Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: z:P2.13
dir_pin: !z:P0.11
enable_pin: !z:P2.12
step_distance: 0.00250

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: z:P1.4
microsteps: 16
interpolate: true
run_current: 0.8
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Extruder
#####################################################################

#	E0 on MCU X/Y
[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
##	16 microsteps Mobius 3 ~= 0.00180
##	Update value below when you perform extruder calibration
##	Higher value means less filament extruded
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	step_distance = 98 / 100 * step_distance_old
##  0.00240 a good starting value for Afterburner, 0.00180 for Mobius
step_distance: 0.00240 
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: P2.5
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2
sensor_pin: z:P0.24	##//JA
min_temp: -100
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
#pressure_advance: 0.09
##	Default is 0.040, leave stock
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040

##	E0 on MCU X/Y
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: P1.4
microsteps: 16
interpolate: false
run_current: 0.5
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: z:P2.3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: z:P0.25	##//JA
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: -100
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################
[include /home/pi/klipper_config/bed_mesh.cfg]
[include /home/pi/klipper_config/magneticprobe.cfg]

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##	Z_MAX on mcu_z
##	If your probe is NO instead of NC, add change pin to !z:P0.10
#Z offset, higher is closer to the bed

#Magnet Probe
pin: z:P1.26
z_offset = 13.805
x_offset: 0
y_offset: 32.542
speed: 5.0
lift_speed: 5.0
samples: 3
samples_result: average
sample_retract_dist: 5.0
samples_tolerance: 0.003
samples_tolerance_retries: 3

##Omron Probe
#pin: ^z:P0.10
#z_offset = 0.940
#x_offset: 0
#y_offset: 25.0
#speed: 6.0
#samples: 2
#samples_result: median
#sample_retract_dist: 10.0
#samples_tolerance: 0.003
#samples_tolerance_retries: 3

#[homing_heaters]
#steppers: stepper_z, stepper_z1, stepper_z2, stepper_z3
#heaters: extruder

#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE0 Connector
pin: P2.7
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 75.0
#heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.9

[fan]
##	Print Cooling Fan - XYE board, HE1 Connector
pin: P2.4
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[controller_fan controller_fan]
##	Controller fan - Z board, HE1 Connector
pin: z:P2.4
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: heater_bed
fan_speed: 0.5
idle_speed: 0.35
idle_timeout: 30

#[heater_fan exhaust_fan]
#	Exhaust fan - Z board, HE0 Connector
#pin: z:P2.7
#max_power: 0.5
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
##fan_speed: 1.0

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

   
[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

#--------------------------------------------------------------------
##	Gantry Corners for 300mm Build
##	Uncomment for 300mm build
gantry_corners:
	-60,-10
	360,370
#	Probe points
points:
	50,25
	50,225
	250,225
	250,25

#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 18
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

#####################################################################
# 	Displays
#####################################################################

## 	Uncomment the display that you have. Display connects to Z MCU
#--------------------------------------------------------------------

[display_status]

[display]
#	mini12864 LCD Display
display_group: __voron_display
lcd_type: uc1701
cs_pin: P1.18
a0_pin: P1.19
encoder_pins: ^P3.25,^P3.26
click_pin: ^!P0.28
contrast: 63

[neopixel fysetc_mini12864]
#	To control Neopixel RGB in mini12864 display
pin: P1.21
chain_count: 3
initial_RED: 0.0
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

#	Set RGB values on boot up for each Neopixel. 
#	Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
	#Display
        SET_LED LED=fysetc_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=1 TRANSMIT=0
	#Encoder
        SET_LED LED=fysetc_mini12864 RED=0 GREEN=0.1 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=0 GREEN=0.1 BLUE=0 INDEX=3 

#--------------------------------------------------------------------


#####################################################################
# 	Macros
#####################################################################
[include /home/pi/klipper_config/nozzle_scrub.cfg]
[include /home/pi/klipper_config/hour_counter.cfg]
[include /home/pi/klipper_config/lcd_tweaks.cfg]
[include /home/pi/klipper_config/caselight.cfg]
[include /home/pi/klipper_config/inputshaper.cfg]
[include /home/pi/klipper_config/test_probe_accuracy.cfg]


[gcode_macro QGL]
gcode:
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X150 Y150 Z20 F6000  

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28 X Y
    CLEAN_NOZZLE
    G28 Z
    G0 X150 Y150 Z20 F6000
    BED_MESH_PROFILE LOAD=default
  
[gcode_macro PRINT_START]
default_parameter_BED_TEMP: 37
default_parameter_EXTRUDER_TEMP: 190   
default_parameter_CHAMBER_TEMP: 30   
variable_yline: 20   
gcode:
    light_on
    M140 S{BED_TEMP}
    M117 Heating Bed
    hour_counter_on
    M117 Positioning Printhead
    G28 X Y Z
    G0 X150 Y150 Z40
    hour_counter_off
    M106 S255
    M117 Waiting for Chamber temperature
    TEMPERATURE_WAIT SENSOR="temperature_fan Chamber" MINIMUM={CHAMBER_TEMP}
    M106 S0
    M117 Waiting for Bed temperature
    M190 S{BED_TEMP}
    M117 Moving over waste bucket
    hour_counter_on
    G0 X175 Y305.5 Z5 F6000
    hour_counter_off
    M117 Heating Extruder
    M109 S{EXTRUDER_TEMP}
    M117 Cleaning Nozzle
    hour_counter_on
    CLEAN_NOZZLE
    M117 Gantry Leveling
    Attach_Probe_Lock
    QUAD_GANTRY_LEVEL
    hour_counter_off
    M117 Heating Extruder
    M109 S{EXTRUDER_TEMP}
    #M117 Final Homing
    hour_counter_on
    G28 X Y
    G28 Z
    Dock_Probe_Unlock
    hour_counter_off
    BED_MESH_PROFILE LOAD=default
    M117 Heating Stabilization
    G4 P60000 ;Wait 60 seconds
    ; Purge extruder
    M117 Purge extruder
    M83; use relative distances for extrusion
    G92 E0 ; Reset Extruder
    hour_counter_on
    G1 X5 Y{yline+2} Z5.0 F3000 ;Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y{yline+2} Z0.3 F3000.0; Move to start position
    G1 X295 Y{yline+2} Z0.3 F3000.0 E22; Draw the first line
    G1 X295 Y{yline+1} Z0.3  Move to side a little
    G1 X5 Y{yline+1} Z0.3 F3000.0 E22; Draw the second line
    G1 X5 Y{yline} Z0.3 F3000.0; Move to inside
    G1 X150 Y{yline} Z0.3 F3000.0 E11 ; Draw the third line
    G92 E0; Reset Extruder
    M117 Printing
 

[gcode_macro QUICK_START]
default_parameter_BED_TEMP: 37
default_parameter_EXTRUDER_TEMP: 190   
default_parameter_CHAMBER_TEMP: 30   
variable_yline: 20   
gcode:
    light_on
    M117 Heating Bed
    M140 S{BED_TEMP}
    M117 Heating Extruder
    M104 S{EXTRUDER_TEMP}
    M117 Positioning Printhead
    hour_counter_on
    G28 X Y
    G28 Z
    hour_counter_off
    M117 Waiting for Bed temperature
    M190 S{BED_TEMP}
    M117 Moving over waste bucket
    hour_counter_on
    G0 X175 Y305.5 Z5 F6000
    hour_counter_off
    M117 Heating Extruder
    M109 S{EXTRUDER_TEMP}
    M117 Cleaning Nozzle
    hour_counter_on
    CLEAN_NOZZLE
    M117 Final Homing
    G28 X Y
    G28 Z
    ; Purge extruder
    M117 Purge extruder
    M83; use relative distances for extrusion
    G92 E0 ; Reset Extruder
    G1 X5 Y{yline+2} Z5.0 F3000 ;Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y{yline+2} Z0.3 F3000.0; Move to start position
    G1 X295 Y{yline+2} Z0.3 F3000.0 E22; Draw the first line
    G1 X295 Y{yline+1} Z0.3  Move to side a little
    G1 X5 Y{yline+1} Z0.3 F3000.0 E22; Draw the second line
    G92 E0; Reset Extruder
    M117 Printing
 


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X150 Y300 F3600            ; park nozzle at rear
    hour_counter_off
    light_off
    M117 Completed
    BED_MESH_CLEAR
    
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    G1 E-10.0 F3600                ; retract filament
    Dock_Probe_Unlock
    hour_counter_off
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT
    light_off
    M117 Aborted

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.950
#*# pid_ki = 1.359
#*# pid_kd = 154.152
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 36.882
#*# pid_ki = 1.171
#*# pid_kd = 290.427
#*#
#*# [bed_mesh omron_probe]
#*# version = 1
#*# points =
#*# 	0.098750, 0.082500, 0.082500, 0.082500, 0.060000, 0.063750, 0.070000
#*# 	0.055000, 0.036250, 0.038750, 0.040000, 0.023750, 0.032500, 0.048750
#*# 	0.025000, 0.005000, 0.012500, 0.018750, 0.010000, 0.015000, 0.028750
#*# 	0.017500, -0.002500, -0.002500, 0.000000, -0.006250, 0.002500, 0.020000
#*# 	0.047500, 0.028750, 0.023750, 0.026250, 0.011250, 0.025000, 0.045000
#*# 	0.092500, 0.070000, 0.070000, 0.072500, 0.052500, 0.050000, 0.075000
#*# 	0.145000, 0.127500, 0.135000, 0.137500, 0.117500, 0.120000, 0.145000
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 7
#*# max_y = 270.0
#*# mesh_x_pps = 2
#*# max_x = 270.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.100000, 0.091250, 0.085000, 0.076250, 0.065000, 0.083750, 0.076250
#*# 	  0.056250, 0.045000, 0.045000, 0.033750, 0.036250, 0.050000, 0.050000
#*# 	  0.022500, 0.016250, 0.012500, 0.005000, 0.010000, 0.027500, 0.027500
#*# 	  0.007500, 0.002500, -0.002500, 0.000000, -0.005000, 0.016250, 0.017500
#*# 	  0.031250, 0.025000, 0.016250, 0.010000, 0.007500, 0.021250, 0.026250
#*# 	  0.062500, 0.055000, 0.046250, 0.041250, 0.041250, 0.058750, 0.052500
#*# 	  0.098750, 0.093750, 0.091250, 0.082500, 0.077500, 0.095000, 0.092500
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 7
#*# max_y = 264.98
#*# mesh_x_pps = 2
#*# max_x = 270.0
